@import 'mixins';
@import 'functions';

.page-links {
  position: absolute;
  display: none;
  top: 1.5em;
  right: 1.5em;
  font-weight: 600;
  text-transform: uppercase;

  @media print {
    display: flex;
    align-items: center;
  }

  &__gap {
    margin: 0 1em;
  }

  &__link {
    font-size: getFontSize(-1);
    display: inline-flex;
  }

  &__icon {
    align-self: center;
    font-size: 0.9em;
    margin-left: 0.5em;
  }

  &__print {
    cursor: pointer;

    img {
      height: 17px;
      margin-left: 3px;
    }
  }

  @include break {
    display: block;
  }
}
